.messageContainer {
    width: 900px;
    height: 500px;
    border: 1px solid black;
    margin: 100px auto 0;
    background-color: #f5e347;
    box-shadow: 0 0 30px #0c0404;
}

.mainImage {
    width: 220px;
    height: 100px;
    margin-top: 30px;
}

.errorText {
    font-size: 20px;
    text-align: center;
}
