.navbarContainer {
    height: 90px;
    background-color: #434348;
    width: 100%;
    display: flex;
    border-bottom: 1px solid hsla(0,0%,100%,.15);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
