
.tableContainer {
    max-width: 669px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 0 4px 18px #2D2E46, inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-collapse: collapse;
    box-sizing: border-box;
    margin-bottom: 24px;
}

.tableHeader th {
    background-color: #DFECAC;
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: black;
    text-align: start;
}

.row {
    height: 48px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    color: #000000;
    text-align: start;
}

td:first-child {
    padding-left: 24px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}
