.packsContainer {
    width: 80%;
}

.cards {
    flex: 2;
    padding: 15px;
    flex-wrap: wrap;
}

.table {
    width: 95%;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: 'Sintony', sans-serif;
    font-weight: 700;
    color: #2d4052;
}


.filtersContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tableHeaders {
    color: #5e5cdc;
}

.addButton {
    width: 100px;
    height: 35px;
}
.dataForm {
    display: flex;
    width: 85%;
    background-color: #fff;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgb(0 0 50%);
    justify-content: space-around;
    margin-bottom: 20px;
}

.tableHeaders td {
    padding: 10px 30px 10px 0;
}

.search {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding: 15px;
    flex-wrap: wrap;
    box-shadow: 0 1px 5px rgba(5, 5, 6, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 10px;
}
