.cardsPage {
    display: flex;
    justify-content: space-around;
    z-index: 100;
    width: 90%;
    background-color: #fff;
    padding: 30px;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 15px rgb(0 0 50%);
    text-align: center;
}


.search {
    width: 30%;
    flex-wrap: wrap;
    margin-top: 20px;
}

.cardsBlock {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
